

  * {
    font-family: 'Special Elite', cursive;
}

.my-column { 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-column .my-row { 
      margin-top: 40%;
      text-align: center;
    // width: 80%; 
        // <here you can also change value to 100% or calculate the pixels needed >
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px;
    border-color: #263328;
    border-style: solid;
    border-radius: 30%;
    background-color: hsla(255, 255, 255, 0.5); 
  }